<!doctype html>
<html ng-app="formBuilderApp">
  <head>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

    <script src="http://cdn.jsdelivr.net/g/angular.ui-sortable"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <script src="js/form-builder-angularjs.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <div class="">
      <div class="form-builder row" ng-controller="FormsController as formjs">
        <div class="col-md-5 column">
          <h2>Edición</h2><hr>

          <div ng-repeat="section in formjs.sections track by $index">
            <div class="row">
              <div class="col-md-12">
                <button ng-click="formjs.removeElement(null, $index)" class="btn btn-danger float-right">x</button>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre de la sección" ng-model="section.name">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Descripción de la sección" ng-model="section.description"></textarea>
            </div>
            <hr>
            <!-- Campos de la sección-->
            <div ui-sortable="sortableOptions" ng-model="section.fields" class="fields lefted" id="fields-section-{{$index}}">
              
              <div ng-repeat="field in section.fields track by $index" data-order="{{$index}}">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Campo</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Nombre" ng-model="field.name">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <select class="form-control" ng-model="field.type"
                    ng-options="option.text for option in formjs.fieldTypes track by option.id"
                    ng-change="formjs.canAssignOptions(field)" >
                    </select>
                  </div>

                  <div class="col-md-1">
                    <button ng-click="formjs.removeElement(section, $index)" class="btn btn-danger float-right">x</button>
                  </div>
                </div>
                <!-- /row -->

                <!-- Opciones de campos -->
                <div id="field-options" ng-show="field.showOptions" class="lefted">
                  <div class="row option-fields">
                    <div ng-repeat="option in field.options" class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Opción</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="Nombre" ng-model="option.value">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <a href="" class="" ng-click="formjs.addOption(field)">Agregar opción</a>
                    </div>
                  </div>
                </div>
                <!-- /Opciones de campos -->

              </div>
            </div>
            <!-- /campos de sección -->

            <button class="btn btn-default lefted" ng-click="formjs.addField(section)">Agregar campo</button>
            <hr>
          </div>

          <button ng-click="formjs.addSection()" class="btn btn-primary">Agregar sección</button>
          <br>

        </div>
        

        <div class="col-md-7 column">
          <h2>Preview</h2><hr>
          
          <div ng-repeat="section in formjs.sections">
            <div class="text-center">
              <h3>{{section.name}}</h3>
              <p>{{section.description}}</p>
            </div>

            <div class="row">
              <div ng-repeat="field in section.fields" class="col-md-4">
                <label class="">{{field.name}}</label>
                
                <!-- Texto corto -->
                <input ng-show="field.type.id === 0" type="text" class="form-control" placeholder="{{field.name}}">
                <!-- /Texto corto -->

                <!-- Texto largo -->
                <textarea ng-show="field.type.id === 1" class="form-control" placeholder="{{field.name}}"></textarea>
                <!-- /Texto largo -->

                <!-- Fecha -->
                <input ng-show="field.type.id === 2" type="date" class="form-control" placeholder="{{field.name}}">
                <!-- /Fecha -->

                <!-- Select -->
                <select ng-show="field.type.id === 3" class="form-control">
                  <option ng-repeat="option in field.options">{{option.value}}</option>
                </select>
                <!-- /Select -->

                <!-- Checkboxes -->
                <div ng-show="field.type.id === 4" class="row">
                  <div ng-repeat="option in field.options track by $index" class="col-md-6 col-sm-6 col-6">

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input checkbox-left" id="customCheck{{$index}}">
                      <label class="custom-control-label" for="customCheck{{$index}}">{{option.value}}</label>
                    </div>

                  </div>
                </div>
                <!-- /Checkboxes -->

                <!-- RadioButtons -->
                <div ng-show="field.type.id === 5" class="row">
                  <div ng-repeat="option in field.options track by $index" class="col-md-6 col-sm-6 col-6">

                    <div class="form-check" >
                      <input class="form-check-input" type="radio" name="exampleRadios{{field.name}}" id="exampleRadios{{$index}}" value="{{option.value}}">
                      <label class="form-check-label" for="exampleRadios{{$index}}">
                        {{option.value}}
                      </label>
                    </div>

                  </div>
                </div>
                <!-- /RadioButtons -->

              </div>
            </div>

            <hr>
          </div>
        </div>

        <pre>{{formjs.sections | json}}</pre>
      </div>
    </div>
    <!--/container -->

  </body>
</html>
